<!doctype html>
<html>
  <head>
    <title>Home</title>
    <link href="assets/stylesheets/style.css" rel="stylesheet" type="text/css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
  </head>
    <body>

      <table border="solid">
        <% if (course) {%>
          <tr>
            <th>
              CourseID
            </th>
            <th>
              Title
            </th>
            <th>
              Term
            </th>
            <th>
              Instructor
            </th>
            <th>
              Instructor email
            </th>
            <th>
              Start time
            </th>
            <th>
              End time
            </th>
            
          </tr>
          <% course.forEach(function(course) { %>
            <tr>
              <td> <%= course.CourseID %> </td>
              <td> <%= course.Title %> </td>
              <td> <%= course.Term %> </td>
              <td> <%= course.Instructor %> </td>
              <td> <%= course.InstructorEmail %> </td>
              <td> <%= course.StartTime %> </td>
              <td> <%= course.EndTime %> </td>
            </tr>
          <% }); %>
            
   
        <% } else { %>
          <td> No Course Details Available! </td>
        <% } %> 
    
    
        </td>
      </table>

      <h2> Search </h2>
      
      
      <form id="course-search" method="POST" action="/courseSearch">
        </br></br>
        course ID: <input type="text" name="courseID"></br></br>
        <button type="submit">Submit</button></br>


      </form>


   
        <form id="course-form" method="POST" action="/courseUpdate">
            </br></br>
            Course ID: <input type="number" name="courseID" required></br></br>
            Title: <input type="text" name="title" required/></br></br>
            Term: <input type="text" name="term" required></br></br>
            Instructor: <input type="text" name="instructor" required></br></br></br>
            Instructor EMAIL: <input type="email" name="instructorEmail" required></br></br></br>
            Start time: <input type="datetime-local" name="startTime" required></br></br></br>
            End time: <input type="datetime-local" name="endTime" required></br></br></br>
            <button type="submit">Submit</button></br>
        </form>
    </body>
</html>
