<%- include('partials/header.ejs', {user: user}) -%>
<div id="main-area">

    <% if (connectionsSize > 0) { %>
        <h2>
            Connections
        </h2>
        <% for (let [category, connectionsOfCategory] of Object.entries(connections)) { %>
            <% if (connectionsOfCategory.length > 0) { %>
                <ul>
                    <li>
                        <%= category %>
                    </li>
                    <ul>
                        <% connectionsOfCategory.forEach(connection => { %>
                            <li>
                                <a href="/connections/<%= connection.connectionID %>">
                                    <%= connection.connectionName %>
                                </a>
                            </li>
                        <% });%>
                    </ul>
                    
                </ul>
                
            <% } %>
        <% } %>
    <% } else { %>
        <h2> No Connections!</h2>
    <% } %>

</div>    

<%- include('partials/footer.ejs') -%>