<%- include('partials/header.ejs', {pageParams: pageParams, user: user}) -%>
<section class="main-content">
    <div>
        <h2 class="my-connection-header">My connections</h2>
    </div>
    <div>
        <% if (userConnections) { %>
            <table class="my-connections-table" border="1">
                <thead>
                    <tr>
                        <td>Connection</td>
                        <td>Category</td>
                        <td>Attending?</td>
                        <td>Actions</td>
                    </tr>
                </thead>
                <% userConnections.forEach(userConnection => { %>
                    <tr>
                        <td><%=userConnection.data.connectionName%></td>
                        <td><%= userConnection.data.category %></td>
                            <% if (userConnection.rsvp == 0 ){ %>
                                <td>No</td>
                            <%}%>
                            <% if (userConnection.rsvp == 1 ){ %>
                                <td>Yes</td>
                            <%}%>
                            <% if (userConnection.rsvp == 2 ){ %>
                                <td>Maybe</td>
                            <%}%>  
                        <td>
                            <form action="/connections/<%=userConnection.data.connectionID%>" method="GET">
                                <button type="submit">Update</button>
                            </form>
                            <br/>
                            <form action="/user/rsvp/delete/<%=userConnection.data.connectionID%>" method="POST">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% });%>
            </table>
        <% } else { %>
            <h3>No saved connections.</h3>
        <% } %>
    </div>
</section>
<%- include('partials/footer.ejs') -%>